<?xml version='1.0' encoding='utf-8'?>
<widget id="com.timeBloc" version="0.1.10">
    <name>timeBloc</name>
    <description>
        Timebloc encourages all users to share the details of their lives, from the mundane to the extraordinary.
    </description>
    <author email="jo.gregg@me.com" href="">
        Lead Developer : John Gregg
				Idea Men: Connor Thomas, Brane Pantovic
    </author>
		<content src="index.html"/>
		<access origin="*" />
    <icon src="icon.png"/>
		<preference name="phonegap-version" value="cli-5.2.0" />
		<preference name="orientation" value="portrait" />
		<preference name="fullscreen" value="true" />

		<feature name="http://api.phonegap.com/1.0/camera" />

    <platform name="android">
        <allow-intent href="market:*" />
				<preference name="android-windowSoftInputMode" value="stateUnchanged|adjustResize" />
    </platform>

</widget>
