.bloc{
	position: absolute;
	background-color: white;

  top:0vw;
  left:0vw;

  height:100vh;
  width:100vw;

  margin:0px;
  padding:0px;

	display:none;
	border:none;
	z-index: 1;
  overflow: hidden;
}


.bloc.on{
	-webkit-backface-visibility: hidden;
  -webkit-animation: fade_on 200ms;

}

@-webkit-keyframes fade_on {
  from {opacity: 0.0}
  to {opacity: 1.0}
}

.bloc.off{
	-webkit-backface-visibility: hidden;
  -webkit-animation: fade_off 200ms ;
}

@-webkit-keyframes fade_off {
  from {opacity: 1.0}
  to {opacity: 0.0}
}

.bloc_bg{
	position: relative;
	top:9.5vw;
  left:0vw;
	background-size: cover;

  height:50.5vw;
  width:100vw;

	margin:0 0px 0vw 0px;

  padding:0px;
	border:none;

	z-index: -4;
  /*overflow: hidden;*/
	background-repeat: no-repeat;
}

.bloc_content_container{
	z-index: 1;
}

.bloc_info_container{
	position: relative;

	height:13.75vw;
	width:70.28vw;
	padding: 0vw 0vw 0vw 0vw;
	margin:6vw 0px -13.385vw 0;

	border-top-right-radius: 2vw;

	background-color: white;
	border-bottom:  .28vw solid #ffb16e;
	border-top: .28vw solid #f2f2f2;
	border-left: .28vw solid #f2f2f2;
	-webkit-backface-visibility: hidden;

}


.bloc_title{
	position: relative;
	font-family: "main_font";
	color:#292929;

	left:0;

	font-size: 9vw;

	padding-left: 2vw;
	padding-bottom: 2vw;

	margin:0 0px -4vw 0;
	-webkit-backface-visibility: hidden;
}

.bloc_location{
	position: relative;
	left:6%;
	font-family: "main_font";
	color:#ff891a;

	font-size: 3vw;

	margin:-2.5vw 0px 0vw 0px;
	-webkit-backface-visibility: hidden;

}

.bloc_creater{
	position: relative;
	left:25%;
	font-family: "main_font";
	color:#ff891a;

	font-size: 3vw;

	margin:-4vw 0px 0vw 0px;
	-webkit-backface-visibility: hidden;

}

.bloc_content_selecter.{
	position: relative;
	font-family: "main_font";

	left:70%;
	background-color: red;
	margin:-2vw 0px 0vw 0px;
	height: auto;
	width:30%;
	-webkit-backface-visibility: hidden;
}

.bloc_top_line{
	position:relative;
	background-color: #ffb16e;
	left:80%;

	height:0.5vw;
	width:10.5vw;
	margin-top: -1.5vw;

	-webkit-backface-visibility: hidden;
}


.bloc_content_selecter_titles{
	position:relative;
	left:70%;
	width:30%;
	-webkit-backface-visibility: hidden;
	height:13.5vw;
}

.bloc_blog{
	position: absolute;
	background-color: white;
	color:#d9d9d9;
	height:auto;
	left:0%;
	width:50%;
	height:7.2vw;


	padding: 3vw 0vw 3vw 0vw;
	border-top-left-radius: 2vw;
	border-top-right-radius: 2vw;

	/*border-right: .5vw solid #ffb16e;*/
	border-left: .28vw solid #ffb16e;
	border-top: .28vw solid #f2f2f2;

	-webkit-backface-visibility: hidden;

}

.bloc_media{
	position:absolute;
	background-color: white;
	color:#d9d9d9;
	left: 50%;
	width:50%;
	height:7.2vw;

	border-top-left-radius: 2vw;


	margin-bottom: -0.28vw;
	padding: 3vw 0vw 3vw 0vw;
	border-top: .28vw solid #f2f2f2;
	border-left: .28vw solid #ffb16e;
	-webkit-backface-visibility: hidden;

}


.selecter_icon{
	position:absolute;
	top:50%;
	left:50%;
	height:auto;
	margin: -30% 0 0 -30%;
	width:60%;
	opacity:0.2;
}

.active{
	opacity: 0.6;
}

.bloc_bottom_line{
	position:relative;
	background-color: #ffb16e;
	bottom:auto;
	left:70%;
	height:0.28vw;
	width:15.28vw;
	margin-top: -0.385vw;
	-webkit-backface-visibility: hidden;
}


.bloc_container{
	position: relative;
	background-color: white;
	text-align: center;

	z-index:-1;
	width: 100%;
	height:100vw;
	-webkit-backface-visibility: hidden;
}

.bloc_media_container{
	position:absolute;
	background-color: white;
	width:100%;
	left:0;
	-webkit-backface-visibility: hidden;
}

.bloc_blog_container{
	position:absolute;
	background-color: white;
	width:100%;
	left:100%;
	-webkit-backface-visibility: hidden;

}

.bloc_content_slide_tab{
	position: absolute;
	height:100%;
	top:0;
	width:8%;
}

.left_half{
	right:0%;
	z-index: 5;
}
.right_half{
	left:0;
	z-index:5;
}

.bloc_content{
	position:relative;
	color: #d9d9d9;
	font-size: 6vw;
	width:100%;
  overflow-x: hidden;
	overflow-y: hidden;
	-webkit-backface-visibility: hidden;

}

.bloc_empty_content{
	padding-top: 30vw;
}

.bloc_photo_row{
	position: relative;
	background-color: white;
	height:58.7vw;
	margin: 0.2vw 0vw 0.2vw 0vw;
	width:100vw;
	-webkit-backface-visibility: hidden;
}

.bloc_photo_container{
	position: absolute;
	height:58.8vw;
	width:33vw;
	vertical-align:middle;
	-webkit-backface-visibility: hidden;
}

.c1{
	left:0vw;
}

.c2{
	left:33.5vw;
}

.c3{
	/*DONT FUCKING ASK*/
	right:0px;
}

.bloc_photo{
	position: relative;
	top: 50%;
  -webkit-transform: translateY(-50%);
	height:auto;
	width:33vw;
	margin: 0;
	vertical-align: middle;
	-webkit-backface-visibility: hidden;
}

.comment{
	position:relative;
	left:0%;
	width:100%;
	text-align: left;
	font-size: 4vw;
	color: black;
	margin: -5.5vw 0vw -5.5vw 0vw;
	padding: 0vw 0vw 0vw 0vw;
}

.bloc_commenter_picture{
	position:relative;
	top:1.25vw;
	left:2.5%;
	width:auto;
	height: 13.5vw;
	margin-top: -13.5vw;
	margin-bottom: -14.75vw;
	border-radius: 50%;
	z-index:5;
}

.reply_picture{
	left:82.5%;
	margin-top: -13.5vw;
}

.bloc_commenter_reply_confirm{
	position:relative;
	left:70.5%;
	top:2.5%;
	width:auto;
	height: 10.5vw;
	margin-bottom: -23%;
	border-radius: 50%;
	z-index:5;
}

.bloc_commenter_reply_cancel{
	position:relative;
	top:2.5%;
	left:5%;
	width:auto;
	height: 10.5vw;
	margin-bottom: -23%;
	border-radius: 50%;
	z-index:5;
}

.comment_info_container{
	position:relative;
	min-height: 11.5vw;
	width:72%;
	padding: 1vw 0 1vw 0;
	margin: 1vw 0 1vw 0;
	left:20%;
	border:.28vw solid #ff851a;
	/*ff891a*/
	border-radius: 1vw;
}

.comment_info_container.self{
	background-color: rgba(255, 177, 110, 0.2);
}

.bloc_comment_reply_container{
	position:relative;
	width:94%;
	left:5%;
}

.reply_content{
	width:60%;
	border:.28vw solid #ffc999;
}


.bloc_comment_poster{
	position: relative;
	left:auto;
	width:60%;
	font-size: 3vw;
	margin:0;
	padding:0.5vw 0.5vw 0.5vw 2.5vw;
	-webkit-touch-callout: default;
}

.bloc_comment_text{
	position: relative;
	left:auto;
	width:85%;
	margin:0;
	padding:0.5vw 0.5vw 0.5vw 2.5vw;
	-webkit-touch-callout: default;
	word-wrap: break-word;

}

.bloc_comment_textarea{
	position: relative;
	height:auto;
	font-family: "main_font";
	font-size: 4vw;
	left:1.5vw;
	width:80%;
	margin:0;
	padding:0.5vw 0.5vw 2.5vw 2.5vw;
	-webkit-touch-callout: default;
}

.bloc_comment_parent{
	color: #ff891a;
	font-size: 3.5vw;
}

.bloc_comment_cute_little_plus{
	color:rgba(128, 128, 128, 0.5);
}

.bloc_comment_children{
	position: relative;
	background-color: transparent;
	color:rgba(128, 128, 128, 0.5);;

	width:27%;
	left:70%;
	font-size: 3vw;
	margin:-4vw 0vw 0vw 0vw;
	text-align: right;

}


@font-face {
  font-family: "main_font";
  src:url(../res/Nova-Plain.ttf);
}
