.bloc{
	position: absolute;
	background-color: white;

  top:0vw;
  left:0vw;

  height:100vh;
  width:100vw;

  margin:0px;
  padding:0px;

	display:none;
	border:none;
	z-index: 1;
  overflow: hidden;
}


.bloc.on{
	-webkit-backface-visibility: hidden;
  -webkit-animation: fade_on 200ms;

}

@-webkit-keyframes fade_on {
  from {opacity: 0.0}
  to {opacity: 1.0}
}

.bloc.off{
	-webkit-backface-visibility: hidden;
  -webkit-animation: fade_off 200ms ;
}

@-webkit-keyframes fade_off {
  from {opacity: 1.0}
  to {opacity: 0.0}
}

.bloc_bg{
	position: relative;
	top:9.5vw;
  left:0vw;
	background-size: cover;

  height:50.5vw;
  width:100vw;

	margin:0 0px 0vw 0px;

  padding:0px;
	border:none;

	z-index: 0;
  overflow: hidden;
	background-repeat: no-repeat;
}

.bloc_info_container{
	position: relative;

	height:13.75vw;
	width:70.28vw;
	padding: 0vw 0vw 0vw 0vw;
	margin:6vw 0px -13.385vw 0;

	border-top-right-radius: 2vw;

	background-color: white;
	border-bottom:  .28vw solid #ffb16e;
	border-top: .28vw solid #f2f2f2;
	border-left: .28vw solid #f2f2f2;

}


.bloc_title{
	position: relative;
	font-family: "main_font";
	color:#292929;

	left:0;

	font-size: 9vw;

	padding-left: 2vw;
	padding-bottom: 2vw;

	margin:0 0px -4vw 0;
}

.bloc_location{
	position: relative;
	left:6%;
	font-family: "main_font";
	color:#ff891a;

	font-size: 3vw;

	margin:-2.5vw 0px 0vw 0px;
}

.bloc_creater{
	position: relative;
	left:25%;
	font-family: "main_font";
	color:#ff891a;

	font-size: 3vw;

	margin:-4vw 0px 0vw 0px;
}

.bloc_content_selecter.{
	position: relative;
	font-family: "main_font";

	left:70%;
	background-color: red;
	margin:-2vw 0px 0vw 0px;
	height: auto;
	width:30%;
}

.bloc_top_line{
	position:relative;
	background-color: #ffb16e;
	left:80%;

	height:0.5vw;
	width:10.5vw;
	margin-top: -1.5vw;

	-webkit-backface-visibility: hidden;
}


.bloc_content_selecter_titles{
	position:relative;
	left:70%;
	width:30%;
	-webkit-backface-visibility: hidden;
	height:13.5vw;
}

.bloc_blog{
	position: absolute;
	background-color: white;
	color:#d9d9d9;
	height:auto;
	left:0%;
	width:50%;
	text-align: center;
	font-size: 6vw;

	padding: 3vw 0vw 3vw 0vw;
	border-top-left-radius: 2vw;
	border-top-right-radius: 2vw;

	/*border-right: .5vw solid #ffb16e;*/
	border-left: .28vw solid #ffb16e;
	border-top: .28vw solid #f2f2f2;

	-webkit-backface-visibility: hidden;

}

.bloc_media{
	position:absolute;
	background-color: white;
	color:#d9d9d9;
	left: 50%;
	width:50%;
	text-align: center;
	font-size: 6vw;

	border-top-left-radius: 2vw;

	margin-bottom: -0.28vw;
	padding: 3vw 0vw 3vw 0vw;
	border-top: .28vw solid #f2f2f2;
	border-left: .28vw solid #ffb16e;
	-webkit-backface-visibility: hidden;

}

.active{
	color:#ffb16e;
}

.bloc_bottom_line{
	position:relative;
	background-color: #ffb16e;
	bottom:auto;
	left:70%;
	height:0.28vw;
	width:15.28vw;
	margin-top: -0.385vw;
	-webkit-backface-visibility: hidden;
}


.bloc_container{
	position: relative;
	background-color: white;
	text-align: center;

	width: 100%;
	height:100vw;
	-webkit-backface-visibility: hidden;
}

.bloc_media_container{
	position:absolute;
	background-color: white;
	width:100%;
	height: 100%;
	left:0;
	-webkit-backface-visibility: hidden;
}

.bloc_blog_container{
	position:absolute;
	background-color: white;
	width:100%;
	left:100%;
	-webkit-backface-visibility: hidden;

}

.bloc_content_slide_tab{
	position: absolute;
	height:100vw;
	bottom:0;
	right:-8%;
	width:16%;
}

.bloc_content{
	position:relative;
	color: #d9d9d9;
	font-size: 6vw;
	width:100%;
	height: 100vw;
	overflow-y: scroll;
  overflow-x: hidden;
}

.bloc_empty_content{
	padding-top: 30vw;
}

.bloc_photo_row{
	position: relative;
	height:58.66vw;
	margin: 0.35vw 0vw 0vw 0vw;
	width:100vw;
	-webkit-backface-visibility: hidden;
}

.bloc_photo_container{
	position: absolute;
	height:58.66vw;
	width:33vw;
	vertical-align:middle;
	-webkit-backface-visibility: hidden;
}

.c1{
	left:0vw;
}

.c2{
	left:33.5vw;
}

.c3{
	/*DONT FUCKING ASK*/
	right:-1px;
}

.bloc_photo{
	position: relative;
	top: 50%;
  -webkit-transform: translateY(-50%);
	height:auto;
	width:33vw;
	margin: 0;
	vertical-align: middle;
	-webkit-backface-visibility: hidden;
}

@font-face {
  font-family: "main_font";
  src:url(../res/Nova-Plain.ttf);
}
