* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */ /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  background-attachment:fixed;

  font-family: "main_font";
  background-color: white;
	background-size: fixed;

  height:100%;
  width:100%;
  margin:0px;
  padding:0px;
  z-index: 0;
  overflow: hidden;
}

.mastHead{
  background-color: #ffb16e;
  height:13.5vw;
  width:100%;
  margin: 0;
  padding: 0% 2vw 0% 2vw;
  font-size: 8vw;

  z-index:1001;
	border-bottom: 0.28vw solid rgba(128, 128, 128, 0.1);
	
}

.mastHead a{
  width:50%;

  text-decoration: none;
  color: white;

  font-weight: bold;
  display: block;

  padding: 4% 2% 2% 2%;

  text-shadow: 1px 1px 2px #bfbfbf;

}


.navbar{
  position:fixed;
  left:0px;
  height: auto;
  width: 100%;
  margin:0px;
  padding:0px;
  border:none;
  z-index: 9000;
  overflow: hidden;
  background-size: fixed;
}

.navbar.top{
  background-color: #ffb16e;
  background-size: cover;
  left:0px;
  top:0px;
  border-bottom: 0.28vw solid rgba(128, 128, 128, 0.1);
	overflow: hidden;
}

.navbar.menu{
  background:url(../assets/navbar_menu_button.png) no-repeat center top;
  background-size: contain;
  position:relative;
  width:10%;
  height:9.5vw;
  margin:2vw 0% 2vw 0;
  left:89%;
  top:auto;

  border-radius: 8px;

  box-shadow: none;
}

.navbar.backbutton{
  background:url(../assets/back.png) no-repeat center top;
  background-size: contain;
  position:relative;
  width:10%;
  height:9.5vw;
  margin:-11.5vw 0% 2vw 0%;
  left:2%;
  top:auto;

  border-radius: 8px;

  box-shadow: none;
}

.navbar_title{
	position:absolute;
  color: white;
	width:50%;
  left:25%;
  top:0px;

	margin-top: 1.5vw;
	font-family: "main_font";
	text-align: center;
	font-size: 9vw;
	overflow: hidden;
}

.navbar.top.menu:active{
  -webkit-transform:scale(0.8,0.8);
}

.navbar.bottom{
  background:url(../img/Bottom_bar.png) no-repeat center top;
  background-size: cover;
  left:0px;
  bottom:0px;
  border:none;
}

.sidebar{
  background-size: cover;
  position:fixed;
  width:88%;
  height:100%;
  top:0%;
  left:-100%;
  z-index: 9100;
  overflow: hidden;
	-webkit-backface-visibility: hidden;
}

.easterEgg{
  position:absolute;
  background-color: black;
  opacity:0.01;
  right:20vw;
  bottom: 15vw;
  width:5vw;
  height:5vw;
}

.sidebar.off{
  animation:nav_drawer_slide_in 250ms ease;
  -webkit-animation:nav_drawer_slide_in 250ms ease;
  -webkit-backface-visibility: hidden;
}

@-webkit-keyframes nav_drawer_slide_in {
  from {-webkit-transform: translate(60%,0);}
  to {-webkit-transform: translate(0,0);}

}

.sidebar.on{
  animation:nav_drawer_slide_out 200ms ease;
  -webkit-animation:nav_drawer_slide_out 200ms ease;
  -webkit-backface-visibility: hidden;
}

@-webkit-keyframes nav_drawer_slide_out {
  from {-webkit-transform: translate(-60%,0);}
  to {-webkit-transform: translate(0,0);}

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.standard_sidebar_link{
	background-color: white;
	font-family: "main_font";
	font-weight: 100;
	font-size: 6vw;
	color: #cc7300;

	width:50%;
  height:5%;

	z-index:9150;

  padding: 10% 0% 10% 10%;
	border-right: 0.28vw solid rgba(128, 128, 128, 0.1);
	border-bottom:0.28vw solid rgba(128, 128, 128, 0.1);
}

.profile_sidebar_link{
	background-color: white;
	font-family: "main_font";
	font-weight: 100;
	color: #cc7300;

	width:60%;
	height:auto;

	border-right: 0.28vw solid rgba(128, 128, 128, 0.1);
	border-bottom:0.28vw solid rgba(128, 128, 128, 0.1);


}

.profile_sidebar_link_image_container{
	position:relative;

	left: 2%;
	top: 1.5vw;
	height:13vw;
	width:13vw;

	margin:0 0 -10vw 0;
}

.profile_sidebar_link_image{
	position:relative;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	top:0%;
	left:0%;
	width: auto;
	height:13vw;
}

.profile_sidebar_link_display_name{
	position:relative;
	left:30%;
	height:auto;
	top: 0%;
	font-size: 5vw;
	margin:0;
	padding:0px;
}

.profile_sidebar_link_username{
	position:relative;
	left:30%;
	height:auto;
	top: 0%;
	font-size: 3vw;
	margin:0vw 0 0vw 0;
	padding:0 0 4vw 0;
}


@font-face {
  font-family: "main_font";
  src:url(../res/Nova-Plain.ttf);
}


.debug{
	background-color: transparent;
	position:fixed;
	opacity: 0.4;
	top: 13.5vw;
	height:auto;
	right:0vw;
	min-width:30vw;

  z-index: 9999;
}

.dbg_item{
	color:black;
	height:auto;
	width:auto;
	text-align: right;
	font-family:monospace;
	font-size: 3.5vw;
}
