.personalPage {
  background-attachment:fixed;

  position:absolute;

	display:block;

  top:0;
  left:0vw;

  height:100%;
  width:100vw;

  font-family: "main_font";

  margin:0px;
  padding:0px;

  overflow: hidden;
}

.personalPage.on{
	-webkit-backface-visibility: hidden;
  -webkit-animation: fade_on 200ms;

}

.personalPage.off{
	-webkit-backface-visibility: hidden;
  -webkit-animation: fade_off 200ms ;
}

.bgselect{
	position:absolute;
	height:auto;
	width: 20vw;
	top:8%;
	left:0;
	margin:0;
	padding: 0;
	display:none;
}

.current_userPP{
  position:absolute;
  top:80vw;
  left:50vw;
	width: 18vw;
  height:10vw;

  margin: -10vh 0px 0px -9vw;
  display:none;

	height:auto;

}

.edit_container{
	position: absolute;
	top: 70.5%;
	height:auto;
	width:100%;
	margin: 0px;
	padding: 0px;
}

.username_edit{
  position:relative;
  text-align: left;
  background-color: transparent;

	left:4.25%;

  height:auto;

  padding-bottom: -4vw;

	min-width:25vw;
  max-width:60vw;

	font-family: "main_font";
	color: white;
	text-align : left;
	font-size: 7vw;
  border: none;

  display:none;
}


.location_swap{
	position: relative;
	text-align: left;
	white-space: pre-wrap;

	left:25.05%;
	height: auto;
	padding: 0vh 0vh 0 0vh;
	font-size: 3.25vw;
	font-style: italic;
	width: auto;

	margin-top: 2vw;

	color:white;
	border:none;

	display: none;
	-webkit-backface-visibility: hidden;
	
}


.bio_edit {
  position: relative;
  text-align: left;
  background-color: transparent ;
  white-space: pre-wrap;
  left:10%;
  height: auto;
	padding: 0vh 0vh 0 0vh;
  font-size: 4vw;
  width: 81%;

	margin-top:2vw;
	line-height: 5vw;

	font-family: "main_font";
  color:white;
  border:none;

  display: none;
}



.bottom_line {
  position:relative;
  background-color:white;
  height:0.5vw;
  left:7%;

	margin-top: 1vw;

  width: 86%;
  opacity: 0.4;
  display: none;
}

.finished_profile{
	font-family: "main_font";
	position:absolute;

  top:71.1%;
  right:3.5%;
  width:25%;

	margin:0px;
  padding:1.75vw 1.25vw 0.75vw 2.0vw;
  text-align: center;
  font-size: 5.75vw;
  border-right: 1.4vw solid white;
  border-bottom: 1.4vw solid white;

  border-bottom-left-radius:0.8vw;
  border-top-right-radius:0.8vw;

	/*background-color: white/*bfbfbf*/;
	color:white;
	display:none;

	/*text-shadow: 0vw 0vw .1vw #b4cf17;*/
	/*box-shadow: -0.3vw 0.3vw .85vw #a6a6a6;*/
	white-space: nowrap;
}

textarea:focus, input:focus{
  outline: none;
}

.bg_overlay {
	background-color: black;
	opacity: 0.25;
	position:relative;
	top:0%;
	left: 0%;
	width: 100vw;
	color:#b3b3b3;

	height:100%;

	padding: 0vh 0px 1vh 0px;
  display:none;
	font-size: 3.5vh;
}

@font-face {
  font-family: "main_font";
  src:url(../res/Nova-Plain.ttf);
}
