.personalPage {
  background-attachment:fixed;

  position:fixed;

	display:block;

  top:7.5%;
  left:0vw;

  height:92.5%;
  width:100vw;

  margin:0px;
  padding:0px;
  z-index:0;

  overflow: hidden;
}

.personalPage.on{
	-webkit-backface-visibility: hidden;
  -webkit-animation: fade_on 200ms;

}

.personalPage.off{
	-webkit-backface-visibility: hidden;
  -webkit-animation: fade_off 300ms ;
}


.current_userPP{
  position:absolute;
  top:33vh;
  left:50vw;
	width: 18vw;
  height:10vh;

  margin: -5vh 0px 0px -9vw;
  display:block;

	height:auto;
  z-index: 202;

  border-radius:50%;
}


.set_username{
	background-color: #f2f2f2;
	left:30vw;
	top: 5%;

	width:25vw;

	color: #b3b3b3;
	text-align: left;
	font-size: 3vh;

	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-color:  #b3b3b3;
	border-bottom-width: thin;
  position:absolute;
	z-index:201;
}

.bg_overlay {
	background-color: black;
	opacity: 0.5;
	position:relative;
	top:50%;
	left: 0%;
	width: 100vw;
	color:#b3b3b3;

	height:47%;

	padding: 0vh 0px 1vh 0px;
	z-index: 201;

	text-align: center;
	font-size: 3.5vh;
}



.current_background{
  position:absolute;
	background-size: contain;
  left:0%;
	top:0%;
  height:100%;
  width:100vw;
}


.bottom_text {
	background-color: #f2f2f2;
	position:absolute;
	bottom:0%;
	left: 0%;
	width: 100vw;
	color:#b3b3b3;

	height:auto;

	padding: 2vh 0px 2vh 0px;
	z-index: 201;

	text-align: center;
	font-size: 2.5vh;

	box-shadow: 0px -0.5vh 2vh #404040;
}
