.userBloc {
  background-size: contain;
  background-attachment:fixed;
  background-size:100% 100%;

  position:relative;

  top:0px;
  left:0vw;

  height:100%;
  width:100%;
	display:none;

  margin:0px;
  padding:0px;
  z-index:0;
  overflow-x: hidden;

	-webkit-backface-visibility: hidden;
}

.userBloc.on{
	-webkit-backface-visibility: hidden;
  -webkit-animation: fade_on 200ms;

}

@-webkit-keyframes fade_on {
  from {opacity: 0.0}
  to {opacity: 1.0}
}

.userBloc.off{
	-webkit-backface-visibility: hidden;
  -webkit-animation: fade_off 200ms ;
}

@-webkit-keyframes fade_off {
  from {opacity: 1.0}
  to {opacity: 0.0}
}

.userBloc_slide_tab{
	background-color: transparent;
	position:absolute;
	height:100%;
	width:4.5%;

	right:0%;
	top:0%;
	padding: 0;
	margin: 0;
  z-index: inherit;
}

.userPP{
  position:relative;
  background-size:cover;
  left:50vw;
	width:51vw;
  height:51vw;
	top: 0.75vw;
  margin:44.25% 0px 25.42% -25.5vw;
  display:block;
  border-radius:50%;
}

.userBloc_preview{
	position:relative;
	background-color: #ff8787;

	top:2vh;
	height:13.5vh;

	left:16.85vw;
	width:63vw;
	text-align: center;
}

.user_Profile_breakdown_container{
	position: absolute;
	top:11vw;
	left:0;
  width:100vw;
  height:170vw;
	margin:0 0 -90vw 0;
	padding:0px;
	transform-origin: 50% 35%;
	-webkit-backface-visibility: hidden;
  overflow: hidden;
  clip: rect(8vw, 100vw, 110vw, 0);
}

.darken{
  -webkit-backface-visibility: hidden;
  -webkit-animation: darken_wedge 600ms ease;
}

@-webkit-keyframes  darken_wedge{
  from{opacity:0.5;}
  to{opacity:1.0;}
}

.expand{
  -webkit-backface-visibility: hidden;
  -webkit-animation: expand_wedge 150ms linear;
}

@-webkit-keyframes  expand_wedge{
  from{stroke-width: 16%;}
  to{stroke-width: 22%;}
}

.user_Profile_breakdown_0{
  position:absolute;
  background-size:contain;
  left:0;
  top:0;

	-webkit-backface-visibility: hidden;
}

.user_Profile_slice_0{
  fill: none;
  stroke: #ff8787;
  stroke-width: 2vw;
  stroke-dasharray: 29.5vw 195vw;
	-webkit-backface-visibility: hidden;
}

.user_Profile_breakdown_1{
  position:absolute;
  background-size:contain;
  left:0px;
	top:0vw;
  opacity: 0.5;
	-webkit-backface-visibility: hidden;
}

.user_Profile_slice_1{
  fill: none;
  stroke: #fff891;
  stroke-width:60 ;
  stroke-dasharray: 29.5vw 195vw;
	-webkit-backface-visibility: hidden;
}

.user_Profile_breakdown_2{
  position:absolute;
  background-size:contain;
  left:0px;
  top:0vw;
  opacity: 0.50;
	-webkit-backface-visibility: hidden;
}

.user_Profile_slice_2{
  fill: none;
  stroke: #82ffd1;
  stroke-width: 60;
	stroke-dasharray: 29.5vw 195vw;
	-webkit-backface-visibility: hidden;
}

.user_Profile_breakdown_3{
  position:absolute;
  background-size:contain;
  left:0px;
  top:0vw;
  opacity: 0.50;
	-webkit-backface-visibility: hidden;
}

.user_Profile_slice_3{
  fill: none;
  stroke: #ff9eea;
  stroke-width: 60;
	stroke-dasharray: 29.5vw 195vw;
	-webkit-backface-visibility: hidden;
}

.user_Profile_breakdown_4{
  position:absolute;
  background-size:contain;

  left:0px;
  top:0vw;
  opacity: 0.50;
	-webkit-backface-visibility: hidden;
}

.user_Profile_slice_4{
  fill: none;
  stroke: #6369ff;
  stroke-width: 60;
	stroke-dasharray: 29.5vw 195vw;
	-webkit-backface-visibility: hidden;
}

.user_Profile_breakdown_5{
  position:absolute;
  background-size:contain;
  left:0px;
  top:0vw;
  opacity: 0.50;
	-webkit-backface-visibility: hidden;
}

.user_Profile_slice_5{
  fill: none;
  stroke: #C69BFF;
  stroke-width: 60;
	stroke-dasharray: 29.5vw 195vw;
	-webkit-backface-visibility: hidden;
}

.user_Profile_breakdown_6{
  position:absolute;
  background-size:contain;
  left:0px;
  top:0vw;
  opacity: 0.50;
	-webkit-backface-visibility: hidden;
}

.user_Profile_slice_6{
  fill: none;
  stroke: #b5fff9;
  stroke-width: 60;
  stroke-dasharray: 29.5vw 195vw;
	-webkit-backface-visibility: hidden;
}


.userProfile{
  position:relative;

  height:50.3vw;
  width:100vw;
  margin:0px;
  padding:0px;
	color:white;

}

.userContent{
	position:relative;

	width: 100%;
	height:auto;

	padding: 0px;
	margin: 0px;
}

.userFollowingStatus{
  position:absolute;

  top:5%;
  right:3.5%;
  min-width:25%;

	margin:0px;
  padding:1.75vw 1.25vw 1.25vw 1.25vw;
  text-align: center;
  font-size: 5.5vw;
  border: 0.8vw dashed #bfbfbf;
  border-radius:0.8vw;

	white-space: nowrap;

}

.userFollowingStatus.light{
	color: white;
}

.userFollowingStatus.dark{
	color:#292929;
}

.userFollowingStatus.editing{
	color:transparent;
}


.userFollowingStatus_fbarrow{
  position:absolute;
  background-color:#e68800;
	bottom:-0.3vw;
	height:2vw;


  left:-1.15vw;
	width:0.6vw;

  display:none;

  transform: rotate(-30deg);
	border-radius: 2vw;
}

.userFollowingStatus_farrow{
  position:absolute;
  background-color:#ffcb80;
  top:-0.3vw;
	height: 2vw;

  right:-1.15vw;
  width:0.6vw;

  display:none;

  transform: rotate(150deg);

	border-radius: 2vw;
}

.userFollowingStatus:active{
  box-shadow:none;
}

.user_Display_Name{
  position:relative;
  color: #ff9633;
  top:0%;
  left:3.5%;
	height:auto;
  max-width:54vw;


  background-color: transparent;
  border:none;
  margin:0;
	white-space: nowrap;

	padding:0vw 0vw 0vw 1vw;
  text-align: left;
  font-size: 7vw;
}

.user_Display_Name.light{
	color: #ff9633;
}

.user_Display_Name.dark{
	color:#ff891a;
}

.user_Display_Name.editing{
	color:transparent;
}

.user_Handle{
  position:relative;
	height:auto;
  left:4%;
  width:25%;
	white-space: nowrap;

	margin:-2vw 0% 0% 0%;
  padding:0 0 0 2vw;
  text-align: left;
  font-size: 4vw;
}

.user_Handle.light{
	color: white;
}

.user_Handle.dark{
	color: #292929;
}

.user_Handle.editing{
	color: transparent;
}

.user_Info{
  position:relative;

  top:0vh;
  left:4%;
  min-width:45%;
	white-space: nowrap;

  margin:-0.5vw 0% 0% 0%;
  padding:0 0  0 2vw;
  text-align: left;
  font-size: 3.25vw;
	font-style: italic;
}

.user_Info.light{
	color: white;
}

.user_Info.dark{
	color: #292929;
}

.user_Info.editing{
	color: transparent;
}

.page_break{
  position:relative;
  background-color: white;
  top:0;
  left:0px;
	border-bottom-width: .5%;
  width:100vw;
  opacity:0.20;

	padding: 0px;
	margin: .50% 0px 0 0px;
}

.page_break.light{
	border-color: white;
	opacity:0.20;
}

.page_break.dark{
	border-color: #292929;
	opacity: 0.30;
}

.page_break.editing{
	border-color: white;
	opacity: 0.40;
}

.userBloc_bio{
  position: relative;
  text-align: left;

	font-family: "main_font";

	background-color: transparent;
	border: none;
	white-space: pre-wrap;
  left:10%;
  height: auto;
	line-height: 5vw;

	margin-top: 0.6vw;

	padding: 0vh 0vh 0 0vh;
  font-size: 4vw;
  width: 81%;
}


.userBloc_bio.light{
	color: white;
}

.userBloc_bio.dark{
	color: #292929;
}

.userBloc_bio.editing{
	color: transparent;
}

.content_box{
	position:absolute;
	bottom: 3vw;


	height:6vh;
	width:100%;

	white-space: nowrap;

	padding:0 0 0vh 0;
	margin: 0vh 0px 0px 0px;

	border-radius: 5px;

	text-align: center;
	font-size: 5.5vw;
}

.weeks{
	position:absolute;
  height:auto;
  width:auto;
  bottom:0;
  border-radius: 5px;

  text-align: center;

  left:35%;
  width:30%;

  padding:0 0 0 0;
  margin:0px;
}

.weeks.light{
	color: white;
}

.weeks.dark{
	color: #292929;
}

.weeks.editing{
	color: transparent;
}

.following{
  position:absolute;
  height:auto;
  width:auto;
  bottom:0;
  border-radius: 5px;

  text-align: center;
  left:63%;
  width:30%;

  padding:0 0 0 0;
  margin:0px;
}

.following.light{
	color: white;
}

.following.dark{
	color: #292929;
}

.following.editing{
	color: transparent;
}

.followers{
  position:absolute;
  height:auto;
  width:auto;
  bottom:0;
  border-radius: 5px;

  text-align: center;
  left:7%;
  width:30%;
}


.followers.light{
	color: white;
}

.followers.dark{
	color: #292929;
}

.followers.editing{
	color: transparent;
}

hr{
  padding: 0px;
  margin: 0px;
}

br{
  padding: 0px;
  margin: 0px;
}
