
.userBloc {

  background-attachment:fixed;

  position:absolute;

  top:7.5vh;
  left:-100vw;

  height:92.5vh;
  width:100vw;

  margin:0px;
  padding:0px;
  z-index:500;

  overflow: hidden;
}

.userBloc.on{
	left:0vw;
  -webkit-animation: fade_on 200ms;

}

@-webkit-keyframes fade_on {
  from {opacity: 0.0}
  to {opacity: 1.0}
}

.userBloc.off{
	left:0vh;
  -webkit-animation: fade_off 200ms ;
}

@-webkit-keyframes fade_off {
  from {opacity: 1.0}
  to {opacity: 0.0}
}

@-webkit-keyframes page_slide_off {
  /*cubic-bezier(1,0,.91,.57)*/
  from {-webkit-backface-visibility: hidden;
        -webkit-transform: translate(0,0);}
  to {-webkit-backface-visibility: hidden;
      -webkit-transform: translate(100vw,0);}

}


.userBloc_background{
  position:absolute;
  left:0vh;

  height:100vh;
  width:100vw;
}

.userBloc_background.on{
  display:block;
}

.userBloc_background.off{
  display:none;
}

.filter{
/*  background:url(../img/gradient.png) no-repeat center; /* 170px x 200px */
  background-attachment:fixed;
  background-size:100vw 100vw;

  position:absolute;
  left:0vw;
  height:100vh;
  width:100vw;
  margin:0px;
  padding:0px;


  overflow: hidden;
}

.userProfile{
  position:absolute;
  background-size: contain;
  left:0vw;
  height:100vh;
  width:100vw;
  margin:0px;
  padding:0px;
	color:white;
}

.userPP{
  position:absolute;
  background-size:contain;
  top:35vh;
  left:50vw;
  width:50vw;
  height:29vh;
  margin:-25vw 0px 0px -25vw;
  display:block;

  z-index: 200;

  border-radius:400px;
}


.user_Profile_breakdown_container{
  width:100vw;
  height:65vh;
}

/*150.8*/
.user_Profile_breakdown_0{
  position:absolute;
  background-size:contain;
  left:0;
  top:0;
  opacity: 0.50;
}

.user_Profile_slice_0{
  fill: none;
  stroke: #ff8787;
  stroke-width: 2vw;
  stroke-dasharray: 29.5vw 195vw;
}

.user_Profile_breakdown_1{
  position:absolute;
  background-size:contain;

  left:0px;
	top:0vw;
  opacity: 0.5;
}

.user_Profile_slice_1{
  fill: none;
  stroke: #fff891;
  stroke-width:60 ;
  stroke-dasharray: 29.5vw 195vw;
}

.user_Profile_breakdown_2{
  position:absolute;
  background-size:contain;

  left:0px;
  top:0vw;

  opacity: 0.50;
}

.user_Profile_slice_2{
  fill: none;
  stroke: #82ffd1;
  stroke-width: 60;
	stroke-dasharray: 29.5vw 195vw;
}

.user_Profile_breakdown_3{
  position:absolute;
  background-size:contain;

  left:0px;
  top:0vw;
  opacity: 0.50;
}

.user_Profile_slice_3{
  fill: none;
  stroke: #ff9eea;
  stroke-width: 60;
	stroke-dasharray: 29.5vw 195vw;
}

.user_Profile_breakdown_4{
  position:absolute;
  background-size:contain;

  left:0px;
  top:0vw;
  opacity: 0.50;
}

.user_Profile_slice_4{
  fill: none;
  stroke: #6369ff;
  stroke-width: 60;
	stroke-dasharray: 29.5vw 195vw;
}

.user_Profile_breakdown_5{
  position:absolute;
  background-size:contain;

  left:0px;
  top:0vw;
  opacity: 0.50;
}

.user_Profile_slice_5{
  fill: none;
  stroke: #C69BFF;
  stroke-width: 60;
	stroke-dasharray: 29.5vw 195vw;
}

.user_Profile_breakdown_6{
  position:absolute;
  background-size:contain;

  left:0px;
  top:0vw;
  opacity: 0.50;
}

.user_Profile_slice_6{
  fill: none;
  stroke: #b5fff9;
  stroke-width: 60;
  stroke-dasharray: 29.5vw 195vw;
}

.userFollowingStatus{
  position:absolute;

  top:-1.5vh;
  left:63vw;
  width:25vw;

  z-index:105;

  padding:2vw;
  text-align: center;
  font-size: 6vw;
  border: .8vw dashed #bfbfbf;
  border-radius:3px;
}

.userFollowingStatus.light{
	color: white;
}

.userFollowingStatus.dark{
	color:#292929;
}


.userFollowingStatus_fbarrow{
  position:absolute;
  background-color:#e68800;
  top:4vh;
  left:62.6vw;
  width:0.5vw;
  height: .5vh;
  z-index:104;
  display:none;

  transform: rotate(-40deg);
  border-radius:10px;
}

.userFollowingStatus_farrow{
  position:absolute;
  background-color:#ffcb80;
  top:-1.4vh;
	height: 1vh;

  left:92.75vw;
  width:0.5vw;
  z-index:104;
  display:none;

  transform: rotate(140deg);
  border-radius:10px;

}


.userFollowingStatus:active{
  box-shadow:none;
}

.user_Display_Name{
  position:absolute;
  color: #ff9633;
  top:-3vh;
  left:0;
  width:100vw;

  padding:0vw 0vw 6vh 5vw;
  margin: 0vw 0vw 0vw 0vw;

  text-align: left;
  font-size: 9vw;

  z-index:100;
}

.user_Display_Name.light{
	color: #ff9633;
}

.user_Display_Name.dark{
	color:#292929;
}

.page_break{
  position:absolute;
  top:7vh;
  left:0px;
  width:100vw;
  opacity:0.20;
}

.user_Handle{
  position:absolute;

  top:2.5vh;
  left:4vw;
  width:25vw;

  padding:0vw 0vw 0vw 2vw;
  text-align: left;
  z-index:100;
  font-size: 4.5vw;
}

.user_Handle.light{
	color: white;
}

.user_Handle.dark{
	color: #292929;
}



.content_box{
	position:absolute;
	/*background-color: white;*/
	/*top:6.75vh;*/
	height:40vh;
	width:100vw;
	margin:0px;

	border-radius: 5px;

	text-align: center;
	font-size: 6vw;
}

.userBloc_bio{
    text-align: left;
    font-size: 4.25vw;
    width: 80vw;
    padding:9vh 5vw 0vh 12vw;
}

.userBloc_bio.light{
	color: white;
}

.userBloc_bio.dark{
	color: #292929;
}

.weeks{
	position:absolute;
  /*background-color: white;*/
  top:18vh;
  height:40vh;
  width:100vw;
  margin:0px;

  border-radius: 5px;

  text-align: center;
  font-size: 6vw;
  left:35vw;
  width:30vw;
}

.weeks.light{
	color: white;
}

.weeks.dark{
	color: #292929;
}

.following{
	position:absolute;
  /*background-color: white;*/
  top:18vh;
  height:40vw;
  width:100vw;
  margin:0px;

  border-radius: 5px;

  text-align: center;
  font-size: 6vw;
  left:63vw;
  width:30vw;
}

.following.light{
	color: white;
}

.following.dark{
	color: #292929;
}

.followers{
	position:absolute;
  /*background-color: white;*/
  top:18vh;
  height:40vw;
  width:100vw;
  margin:0px;

  border-radius: 5px;

  text-align: center;
  font-size: 6vw;
  left:7vw;
  width:30vw;
}

.followers.light{
	color: white;
}

.followers.dark{
	color: #292929;
}

hr{
  padding: 0px;
  margin: 0px;
}
